/* 
#playerProgress {
    width: 100%;
    background-color: grey;
} */
/* #playerBar {
    width: 1%;
    height: 30px;
    background-color: green;
}
#enemyProgress {
    width: 100%;
    background-color: grey;
}
#enemyBar {
    width: 1%;
    height: 30px;
    background-color: blue;
} */
body{
    background-color: azure;
}